---
---
/*------------------------------------*\
    #Dependencies
\*------------------------------------*/


/* Fonts */
$primary: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
$secondary: $primary;


/* Colours */
$main: #555;
$highlight: #00b6ff;


/* Other */
$break: 540px;
$space: 2.5%;


/* Import */
@import 'mixins';
@import 'flex';
@import 'typography';





/*------------------------------------*\
    #General
\*------------------------------------*/

html, body {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	width: 100%;
}

body {
	background: url('../img/assets/dot.png'); /* In the sketch-stage */
	color: $main; /* Replace */
	font-size: 100%;
	font-weight: normal;
	margin: 10% auto; /* Replace */
	max-width: 80%; /* Replace */
	-webkit-text-size-adjust: 100%; /* Because iPhones are dumb sometimes. */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

main {
	display: block;
}

img {
	border: 0;
	max-width: 100%;
}

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}





/*------------------------------------*\
    #Element_Style
\*------------------------------------*/

.nav-ul {
	display: flex;
}

.nav-li {
	&:not(:last-of-type) {
		margin: 0 1em 0 0;
	}
}

p {
	max-width: $break;
}





/*------------------------------------*\
    #Responsive
\*------------------------------------*/

@media only screen and (min-width: 100px) {}





/*------------------------------------*\
    #Animations
\*------------------------------------*/

@import 'animations';





/*------------------------------------*\
    #Shame
\*------------------------------------*/

@import 'shame';