/*------------------------------------*\
    #Variables
\*------------------------------------*/

.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
}

.item {
	flex: 1 0 25%;
}